/*** colors 
FFADAD - pastel red
FFD6A5 - pastel orange
FDFFB6 - pastel yellow
CAFFBF - pastel green
9BF6FF - tealish
A0C4FF - pastel blue
BDB2FF - periwinkle
FFC6FF - pink
FFFFFC  - white
***/

/*** TITLE PAGE ***/

#herotitle {
    font-family: "Chewy";
    font-size: 150px;
}
#heroButton1 {
    background-color: #fdffb6;
    font-size:18px;
    
}
#heroButton1:hover {
    opacity: 0.6;
}
#heroButton2 {
    background-color: #bdb2ff;
    font-size:18px;
    
}
#heroButton2:hover {
    opacity: 0.6;
}

footer .section {
    background-color: #FFADAD !important;
}

/*** NAV MENU ***/


/*** NAV MENU ***/
/*** NAV MENU ***/
.fullscreen-menu h2 a {
    color: white !important;
}

.bg-blue {
    background-color: #a0c4ff;
}

.header.header-color-dark {
  background: #a0c4ff;
}
/*** keep it transparent until I scroll down. This rule goes second
so it has the last say */
.header.header-color-dark.transparent-light {
  background: none;
}

/*** DELIVERY EX. ***/

/*** DRONES ***/


